extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1=project.project_name

        p=project.description

      .project-tech-links-box.box
        h6 Technologies
        ul

         
        each tech in project.technologies
          li=tech
              

        a.btn-link(href='#') Live Demo
        a.btn-link(href=`${project.github_link}`) GitHub Repo

    .project-img-box.box
      //- img.project-img(src=`http://localhost:3000/static/${project.additional_images.add_img1}`, alt=`${project.descrition}`)
      //- if project.additional_images.add_img2
      //-   img.project-img(src=`http://localhost:3000/static/${project.additional_images.add_img2}`, alt=`${project.descrition}`)
      //- if project.additional_images.add_img3
      //-   img.project-img(src=`http://localhost:3000/static/${project.additional_images.add_img3}`, alt=`${project.descrition}`)
      each image in project.additional_images
        img.project-img(src=`http://localhost:3000/static/${image}`, alt=`${project.descrition}`)
   
    nav.nav
      a(href='/')
        span &larr;
        |  Back

    